@gray: #9fa3af;
@gray-light: #f3f3f4;
@gray-dark: #414a60;

.svg-icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}
.stress {
  padding: 0 2px;
  font-size: 1.5em;
  font-weight: bold;
  filter: drop-shadow(0 0 1px rgba(255, 255, 255, 0.4));
}
.r-btn {
  border: 1px solid @gray;
  padding: 0 10px;
  line-height: 28px;
  color: @gray-dark;
  border-radius: 2px;
  cursor: pointer;
  &:hover {
    background-color: @gray-light;
  }
}
.mg-t-s {
  margin-top: 10px;
}
.mg-t-m {
  margin-top: 20px;
}
.mg-t-l {
  margin-top: 30px;
}
.mg-t-xl {
  margin-top: 40px;
}
.mg-t-xxl {
  margin-top: 50px;
}
.mg-l-m {
  margin-left: 20px;
}
.text-center {
  text-align: center;
}
