@charset "UTF-8";
a,
b,
body,
button,
dd,
div,
dl,
em,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
i,
input,
label,
li,
nav,
p,
select,
span,
td,
textarea,
u,
ul,
main,
section,
article,
header,
footer,
canvas,
pre {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: none;
}

canvas {
  display: block;
}

li,
ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #0277bd;
}

a:active,
a:focus,
a:hover,
button,
input,
textarea {
  outline: 0;
}

a:hover {
  color: #03a9f4 !important;
  // color: #00d7c6;
  text-decoration: none;
  -webkit-transition: all linear 0.2s;
  transition: all linear 0.2s;
}

img {
  border: none;
}

map area {
  outline: 0;
}

table {
  border-collapse: collapse;
}

body,
button,
input,
option,
select,
td,
textarea {
  font-family: arial, verdana, helvetica, 'PingFang SC', 'HanHei SC', STHeitiSC-Light, Microsoft Yahei, sans-serif;
  -webkit-font-smoothing: antialiased;
}

button,
input[type='button'],
input[type='number'],
input[type='password'],
input[type='search'],
input[type='submit'],
input[type='tel'],
input[type='text'],
textarea {
  -webkit-appearance: none;
}

body {
  background: #fffefd;
  line-height: 26px;
  color: #414a60;
  font-size: 14px;
  font-family: 'SF Pro SC', 'SF Pro Text', 'SF Pro Icons', PingFang SC, Lantinghei SC, Microsoft Yahei, Hiragino Sans GB,
    Microsoft Sans Serif, WenQuanYi Micro Hei, sans-serif !important;
}

#header,
.clearfix,
.home-box,
.info,
.inner,
.job-author,
.job-list li,
.job-primary,
.promotion-job li {
  zoom: 1;
}

.gray {
  color: #9fa3af;
}

.red {
  color: #fc703e;
}

.text-blue {
  color: #00c2b3;
}

.gray-light {
  background-color: #f3f3f4;
}

.btn:hover,
.ipt:hover {
  -webkit-transition: all linear 0.2s;
  transition: all linear 0.2s;
}

::selection {
  color: #fff;
  background: #03a9f4;
  // background: #00d7c6
}

::-moz-selection {
  color: #fff;
  background: #03a9f4;
}

input::-webkit-input-placeholder {
  color: #9fa3af;
}

input:-ms-input-placeholder {
  color: #9fa3af;
}

input:-moz-placeholder {
  color: #9fa3af;
}

input::-moz-placeholder {
  color: #9fa3af;
}

textarea::-webkit-input-placeholder {
  color: #9fa3af;
}

textarea:-ms-input-placeholder {
  color: #9fa3af;
}

textarea:-moz-placeholder {
  color: #9fa3af;
}

textarea::-moz-placeholder {
  color: #9fa3af;
}

:root {
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #007bff;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
}
